/* This version of our css was last updated on Wednesday at about 7pm */

body
{
	margin-left: 90px;	
	margin-right: 90px;
}

h1
{
  text-align: center;
  font-size: 30px;
  font-family: monospace, sans-serif;
}

p
{
  font-size: 14px;
  text-align: left;
  font-family: Arial, "Arial Narrow", sans-serif;
}

h2
{
  font-size: 24px;
  text-align: left;
  font-family: Arial, "Arial Narrow", sans-serif;
}

.italicized
{
	font-style: italic;
}

#subtitle
{
  text-align: center;
  font-size: 20px;
  color: blue;
  font-family: Tahoma, "sans-serif";
}

#homepageimg
{
  border-width: medium;
  border-color: black;
  border-style: solid;
  margin left: 300%;
}

#bibliography p
{
	font-size: 10px;
	color: #555555;
}
